<app-screen
  [showHeader]="true"
  leftResponsiveConfig="col-xs-4 col-sm-4 col-md-4 col-lg-4 pl-0"
  rightResponsiveConfig="col-8 col-sm-8 col-md-8 col-lg-8 pr-0 pl-0"
  [loaderShow]="loading$|async"
  styleName="container-fluid pl-screen pl-screen-sr e2e-search "
>
  <ng-template #headerTitle>
    <h1 i18n="@@UID__title;employee;search-1">Liste des employer</h1>
  </ng-template>
  <ng-template #headerActions> </ng-template>
  <ng-template #bodyScreen>
    <div class="card" style="position: relative">
      <div class="grid-actions">
        <p-button
          class="plm-button e2e-button style-createwithinsearchinput left"
          i18n-label="@@UID__act_button-04826;employee;search-1"
          label="Ajouter employer"
          (onClick)="doButton04826()"
        >
        </p-button>
      </div>
      <p-paginator
        #paginator
        *ngIf="(count$ | async) > (pageSize$ | async)"
        [rows]="pageSize$ | async"
        [totalRecords]="(count$ | async)"
        pageLinkSize="3"
        [templateRight]="status"
        [templateLeft]="colsSelection"
        (onPageChange)="paginate($event)"
      >
      </p-paginator>
      <ng-template #status let-state>
        <div class="paginator-right-display e2e-paginator-right-display">
          <span i18n="message;labelPage">Page</span>&nbsp;{{currentPage$ |
          async}} / {{getNumberOfPage((count$ | async), (pageSize$ |
          async))}}&nbsp;({{count$ | async}})&nbsp;<span
            i18n="message;labelItems"
            >items</span
          >
        </div>
      </ng-template>
      <ng-template #colsSelection> </ng-template>

      <p-table
        [value]="value$ | async"
        [loading]="loading"
        [responsive]="true"
        [resizableColumns]="true"
        columnResizeMode="fit"
        [(selection)]="selectedItems"
        selectionMode="single"
        [autoLayout]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn hideColumn="firstName" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_firstName;employee;search-1"
                [pTooltip]="columnHeaderi18n?.firstName"
                [escape]="false"
                tooltipPosition="top"
                >Nom</span
              >
            </th>
            <th pResizableColumn hideColumn="lastName" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_lastName;employee;search-1"
                [pTooltip]="columnHeaderi18n?.lastName"
                [escape]="false"
                tooltipPosition="top"
                >Prénom</span
              >
            </th>
            <th pResizableColumn hideColumn="email" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_email;employee;search-1"
                [pTooltip]="columnHeaderi18n?.email"
                [escape]="false"
                tooltipPosition="top"
                >Email</span
              >
            </th>
            <th pResizableColumn hideColumn="profession" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_profession;employee;search-1"
                [pTooltip]="columnHeaderi18n?.profession"
                [escape]="false"
                tooltipPosition="top"
                >Profession</span
              >
            </th>
            <th pResizableColumn hideColumn="salary" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_salary;employee;search-1"
                [pTooltip]="columnHeaderi18n?.salary"
                [escape]="false"
                tooltipPosition="top"
                >Salaire</span
              >
            </th>
            <th pResizableColumn hideColumn="departement" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_departement;employee;search-1"
                [pTooltip]="columnHeaderi18n?.departement"
                [escape]="false"
                tooltipPosition="top"
                >departement</span
              >
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.firstName"
              class="plm-left e2e-table ui-l"
              hideColumn="firstName"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.firstName}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.lastName"
              class="plm-left e2e-table ui-l"
              hideColumn="lastName"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.lastName}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.email"
              class="plm-left e2e-table ui-l"
              hideColumn="email"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.email}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.profession"
              class="plm-left e2e-table ui-l"
              hideColumn="profession"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.profession}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.salary"
              class="plm-left e2e-table ui-l"
              hideColumn="salary"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.salary}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.departement"
              class="plm-left e2e-table ui-l"
              hideColumn="departement"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.departement}}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="7" class="text-align-ui-l e2e-text-align">
              <div
                i18n="message;msgNoResultsFound"
                *ngIf="!(loading$ | async) && (value$ | async)?.length === 0"
              >
                No results were found
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
  <ng-template #outlets>
    <!-- to display screens with navigation type 'dialog'-->
    <router-outlet name="dialog"></router-outlet>

    <!-- to display screens with navigation type 'call'-->
    <router-outlet #callOutlet="outlet" name="call"></router-outlet>
    <!-- to display confirmation message-->
    <p-confirmDialog
      class="plm-confirm-dialog e2e-confirm-dialog"
      modal="modal"
      key="employeesearch1"
    >
    </p-confirmDialog>
  </ng-template>
</app-screen>
