<div class="plm-input-validation">
  <div *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngIf="control.errors.required">
      <p-message severity="error" i18n-text="message;invalidFieldRequired" text="Field is required"></p-message>
    </div>
    <div *ngIf="control.errors.minlength">
      <p-message severity="error" i18n-text="message;invalidMinLengthValue" text="Min length is {{control.errors.minlength.requiredLength}}"></p-message>
    </div>
    <div *ngIf="control.errors.maxlength">
      <p-message severity="error" i18n-text="message;invalidMaxLengthValue" text="Max length is {{control.errors.maxlength.requiredLength}}"></p-message>
    </div>
    <div *ngIf="control.errors.min">
      <p-message severity="error" i18n-text="message;invalidMinValue" text="Min value is {{control.errors.min.min}}"></p-message>
    </div>
    <div *ngIf="control.errors.max">
      <p-message severity="error" i18n-text="message;invalidMaxValue" text="Max Value is {{control.errors.max.max}}"></p-message>
    </div>
    <div *ngIf="control.errors?.pattern">
      <p-message severity="error" text={{pattern}}></p-message>
    </div>
    <div *ngIf="control.errors?.rules">
      <p-message severity="error" text={{rules}}></p-message>
    </div>
  </div>
</div>
