<app-screen
  [showHeader]="true"
  leftResponsiveConfig="col-xs-4 col-sm-4 col-md-4 col-lg-4 pl-0"
  rightResponsiveConfig="col-8 col-sm-8 col-md-8 col-lg-8 pr-0 pl-0"
  [loaderShow]="loading$|async"
  styleName="container-fluid pl-screen pl-screen-sr e2e-search "
>
  <ng-template #headerTitle>
    <h1 i18n="@@UID__title;conge;listconge">listconge</h1>
  </ng-template>
  <ng-template #headerActions> </ng-template>
  <ng-template #bodyScreen>
    <div class="card" style="position: relative">
      <div class="grid-actions">
        <p-button
          class="plm-button e2e-button style-createwithinsearchinput left"
          i18n-label="@@UID__act_button-26614;conge;listconge"
          label="Ajouter congé"
          (onClick)="doButton26614()"
        >
        </p-button>
      </div>
      <p-paginator
        #paginator
        *ngIf="(count$ | async) > (pageSize$ | async)"
        [rows]="pageSize$ | async"
        [totalRecords]="(count$ | async)"
        pageLinkSize="3"
        [templateRight]="status"
        [templateLeft]="colsSelection"
        (onPageChange)="paginate($event)"
      >
      </p-paginator>
      <ng-template #status let-state>
        <div class="paginator-right-display e2e-paginator-right-display">
          <span i18n="message;labelPage">Page</span>&nbsp;{{currentPage$ |
          async}} / {{getNumberOfPage((count$ | async), (pageSize$ |
          async))}}&nbsp;({{count$ | async}})&nbsp;<span
            i18n="message;labelItems"
            >items</span
          >
        </div>
      </ng-template>
      <ng-template #colsSelection> </ng-template>

      <p-table
        [value]="value$ | async"
        [loading]="loading"
        [responsive]="true"
        [resizableColumns]="true"
        columnResizeMode="fit"
        [(selection)]="selectedItems"
        selectionMode="single"
        [autoLayout]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn hideColumn="dateDepart" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_dateDepart;conge;listconge"
                [pTooltip]="columnHeaderi18n?.dateDepart"
                [escape]="false"
                tooltipPosition="top"
                >Date Depart</span
              >
            </th>
            <th pResizableColumn hideColumn="dateFin" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_dateFin;conge;listconge"
                [pTooltip]="columnHeaderi18n?.dateFin"
                [escape]="false"
                tooltipPosition="top"
                >Date Fin</span
              >
            </th>
            <th pResizableColumn hideColumn="statut" class="plm-left ui-l">
              <span
                i18n="@@UID__fld_statut;conge;listconge"
                [pTooltip]="columnHeaderi18n?.statut"
                [escape]="false"
                tooltipPosition="top"
                >Statut</span
              >
            </th>
            <th
              pResizableColumn
              hideColumn="Column34205"
              class="plm-left ui-xs"
            >
              <span
                i18n="@@UID__fld_column34205;conge;listconge"
                [pTooltip]="columnHeaderi18n?.column34205"
                [escape]="false"
                tooltipPosition="top"
                ></span
              >
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.dateDepart"
              class="plm-left e2e-table ui-l"
              hideColumn="dateDepart"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.dateDebut| date:'dd MM yyyy'}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.dateFin"
              class="plm-left e2e-table ui-l"
              hideColumn="dateFin"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.dateFin | date:'dd MM yyyy'}}
            </td>

            <td
              plmTruncatedCell
              (mouseOverCell)="addTooltip($event)"
              [tooltipDisabled]="disableTooltip"
              [pTooltip]="rowData?.statut"
              class="plm-left e2e-table ui-l"
              hideColumn="statut"
            >
              <span class="ui-column-title e2e-ui-column-title"></span>
              {{rowData?.statut}}
            </td>
            <td
              class="vp-col-column-34205 plm-left plm-container e2e-container"
            >
              <div class="vp-container-body">
                <p-button
                  class="plm-button e2e-inline-button"
                  i18n-label="@@UID__fld_edit;conge;listconge"
                  icon="fa fa-pen"
                  iconPos="left"
                  [disabled]=""
                  *ngIf="rowData && !rowData.isGrp "
                  (onClick)="doEdit(rowData)"
                >
                </p-button>

                <p-button
                  class="plm-button e2e-inline-button"
                  i18n-label="@@UID__fld_button66719;conge;listconge"
                  icon="pi pi-eye"
                  iconPos="left"
                  [disabled]=""
                  *ngIf="rowData && !rowData.isGrp "
                  (onClick)="doButton66719(rowData)"
                >
                </p-button>

                <p-button
                  class="plm-button e2e-inline-button"
                  i18n-label="@@UID__fld_button57632;conge;listconge"
                  icon="pi pi-trash"
                  iconPos="left"
                  [disabled]=""
                  *ngIf="rowData && !rowData.isGrp "
                  (onClick)="doButton57632(rowData)"
                >
                </p-button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="5" class="text-align-ui-l e2e-text-align">
              <div
                i18n="message;msgNoResultsFound"
                *ngIf="!(loading$ | async) && (value$ | async)?.length === 0"
              >
                No results were found
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
  <ng-template #outlets>
    <!-- to display screens with navigation type 'dialog'-->
    <router-outlet name="dialog"></router-outlet>

    <!-- to display screens with navigation type 'call'-->
    <router-outlet #callOutlet="outlet" name="call"></router-outlet>
    <!-- to display confirmation message-->
    <p-confirmDialog
      class="plm-confirm-dialog e2e-confirm-dialog"
      modal="modal"
      key="congelistconge"
    >
    </p-confirmDialog>
  </ng-template>
</app-screen>
